<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet"href="{{ url_for('static', filename='css/base.css') }}">

    <title>Document</title>
</head>
<body>

<ul>
  {% for recipe in recipes %}
    <li>
      <a
        class="hero_btn"
        href="{{ url_for('main.view_recipe', recipe_id=recipe.id) }}">
        {{ recipe.title }}
      </a>
    </li>
  {% endfor %}
</ul>



</body>
</html>