<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
rel="stylesheet"href="{{ url_for('static', filename='css/base.css') }}">


    <title>Recipe of Awesome</title>
</head>



<body>
    <nav class="navbar">

      <ul class="menu">
        <li class="item"><a href="#">About us</a></li>
{% if current_user.is_authenticated %}
      <!-- show this when user is logged in -->
      <li class="item">
        <a href="{{ url_for('main.logout') }}">Logout</a>
      </li>
      <li class="item">
        <a href="{{url_for('main.bookviewer')}}">Recipebook</a>
      </li>
      <li class="item">
        <a href="{{url_for('main.recipe_submission')}}">Create</a>
      </li>
    {% else %}
      <!-- show this when user is not logged in -->
      <li class="item">
        <a href="{{ url_for('main.login') }}">Login</a>
      </li>
      <li class="item">
        <a href="{{ url_for('main.register') }}">Register</a>
      </li>
    {% endif %}


    </nav>

   <div class="form-container">
    <img
      class="carrot-man"
      src="{{ url_for('static', filename='assets/chill_carrot.png') }}"
      alt="carrot mascot">
    <form action="{{ url_for('main.sub') }}" method="post">
      <h1>From Link to Recipe!</h1>
      <div class="input-with-icon">
        <input
          name="url"
          type="text"
          placeholder="paste url here"
          class="hero_input">
      </div>
      <button class="hero_btn">Submit</button>
    </form>
  </div>

</body>
</html>