<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet"href="{{ url_for('static', filename='css/base.css') }}">

    <title>Document</title>
</head>
<body>
    <h1>Ingredients</h1>
   <ul name="ingredient-list">
        {% for ingredient in recipe.ingredients %}
            <li> {{ ingredient.quantity ~ ' ' ~ ingredient.unit ~ ' ' ~ ingredient.name }} </li>
        {% endfor %}

   </ul>

   <h2>Directions</h2>
   <ol>
    {% for step in recipe.steps %}
        <li>
            {{step.description}}

        </li>
    {%endfor%}


   </ol>
</body>
</html>