
:root{
--color-primary: teal





}


html{
 background: #000000;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
}
/* example styles */

.navbar {
  display: flex;
  background: #aaa6a6;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 auto;
  margin-top: 20px;
  width: 30%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}


.menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  gap: 2rem;
}

.item {
  margin: 0 15px;
}

.item a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.item a:hover {
  color: #2258c3;
}

.ingredient_list{

  list-style-type: none;


}

body {
   
  color: #aaa6a6;
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
  font-family: monospace;
  background: black;
  padding: 3rem;
  align-items: center;
 
}
h1 {
  color: white;
  
}
form {
  
  margin-top: 100px auto 0;
}
input {
  padding: 0.5rem;
  width: 600px;
  border-radius: 12px;
  background-color: rgb(0, 0, 0);
  
}

button {
  margin-left: 40%;
  margin-top: 5px;
  padding: 0.5rem 1rem;
  background: rgb(63, 59, 59);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px

}
.hero_btn{
margin-top: 10px;
min-width: 70px;
min-height: 30px;
font-size: 20px;
font-family: monospace;
}

.hero_btn:hover{

scale: 1.15;
background-color: #747070;

}

.hero_input{

color: #d0d0d0;
font-family: monospace;
font-size: larger;


}

.hero_input::placeholder{

color: #d0d0d0;
font-family: monospace;
font-size: larger;

}

.password-input{
  font-family: monospace;
font-size: larger;
color: #d0d0d0;
}
.password-input::placeholder{
color: #d0d0d0;
font-family: monospace;
font-size: larger

}

.email-input{
  font-family: monospace;
font-size: larger;
color: #d0d0d0;
}
.email-input::placeholder{
color: #d0d0d0;
font-family: monospace;
font-size: larger

}

.login-form input {
  display: block;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}
.login-form button {
  margin-top: 0.5rem;
  min-width: 30px;
  min-height: 30px;
}

.login-form label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.register-form input {
  display: block;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}
.register-form button {
  margin-top: 0.5rem;
  min-width: 30px;
  min-height: 30px;
}

.register-form label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.error{
  font-size: medium;
  color: rgb(255, 0, 0);
}