<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
rel="stylesheet"href="{{ url_for('static', filename='css/base.css') }}">


    <title>Recipe of Awesome</title>
</head>



<body>
    <nav class="navbar">

      <ul class="menu">
        <li class="item"><a href="#">About Us</a></li>
{% if current_user.is_authenticated %}
      <!-- show this when user is logged in -->
      <li class="item">
        <a href="{{ url_for('logout') }}">Logout</a>
      </li>
    {% else %}
      <!-- show this when user is not logged in -->
      <li class="item">
        <a href="{{ url_for('login') }}">Login</a>
      </li>
      <li class="item">
        <a href="{{ url_for('register') }}">Register</a>
      </li>
    {% endif %}


    </nav>
    <h1> From Link to Recipe!</h1>
    <img src="{{ url_for('static', filename='assets/chill_carrot.png') }}">   
    <form action="{{ url_for('sub') }}" method="post">
        <input 
                name="url"
                type="text" 
                placeholder="paste url here"
                class=hero_input>
                <br>

        <button class="hero_btn">Submit</button>


    </form>
</body>
</html>