<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/base.css">


    <title>Recipe of Awesome</title>
</head>



<body>
    <nav class="navbar">

      <ul class="menu">
        <li class="item"><a href="#">About Us</a></li>
        <li class="item"><a href="#">Home</a></li>
        <li class="item"><a href="#">Sign out</a></li>
        
      </ul> 




    </nav>
    <h1> From Link to Recipe!</h1>
   
    <form action="submit">
        <input type="text" 
                placeholder="paste url here"
                class=hero_input>
                <br>

        <button class="hero_btn">Submit</button>


    </form>
</body>
</html>